#root {
	width: 100%;
	margin: 0 auto;
	/* user-select: none; */
}
.loading {
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	background: #fff;
	transition: all 0.5s;
	margin-right: 1rem;

	& span {
		color: var(--thi-color);
		margin-top: 1rem;
		font-size: var(--smaller-font-size);
		animation: jump 1s ease 0s infinite normal;
	}

	.logo {
		position: relative;
		margin-top: 3rem;
		width: 80px;
		height: 80px;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-0.5rem);
	}
	50% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-0.2rem);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

.App {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.top {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: background-color 0.4s;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 auto;
	padding: 1rem 5rem 1rem 2rem;
	z-index: 999;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	transition: background-color 0.4s;

	.logo {
		width: 8rem;
		margin: 1rem 0 0 0;
		cursor: pointer;
	}

	.topSelect {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
}

.storeHoliday {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 600;
	color: #fff;
	background: #d84f4f;
	padding: 0.7rem 1.2rem;
	border-radius: 0.4rem;
	font-size: var(--normal-font-size);
	line-height: 1;
	box-shadow: 0 2px 8px rgba(216, 79, 79, 0.08);
	white-space: pre-line;
}
.storeHoliday span:last-child {
	font-weight: 400;
	margin-left: 0.5rem;
}

.view-all {
	outline: none;
	background: #fff;
	border: 1px solid var(--thi-color);
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	transition: all 0.3s;
	&:hover {
		background: var(--thi-color);
		color: #fff;
	}
}

.topSelect select {
	display: flex;
	font-size: var(--normal-font-size);
}

.main {
	/* position: relative; */
	width: 100%;
	/* margin: 8.5rem auto 0; */
	margin-top: 8.5rem;
	padding-inline: 2rem;
	/* left: 50%; */
	/* transform: translateX(-50%); */
}

.flex {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: flex-start; */
	/* 讓所有item齊左，外層main已居中 */
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
}

.foot {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	color: var(--thi-color);
	font-size: var(--small-font-size);
	gap: 1.5rem;
	border-top: 1px solid var(--thi-color);
	border-bottom: 1px solid var(--thi-color);
	margin: 3rem auto 4rem;
	padding: 1rem 10rem;
	line-height: 1.5;

	.foot_logo {
		width: 3rem;
		opacity: 0.3;
		filter: grayscale(1);
		cursor: pointer;
	}
}

.foot > div {
	margin: 0.3rem;
}

.point {
	cursor: pointer;
	font-weight: bolder;
	color: var(--first-color);
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.scroll-top {
	position: fixed;
	bottom: -50px;
	right: 25px;
	z-index: 99;
	outline: none;
	background: #fff;
	border: 1px solid var(--thi-color);
	cursor: pointer;
	padding: 1rem;
	border-radius: 4px;
	animation: movescrollTop 3s ease-in-out infinite;
	transition: all 0.5s ease-in-out;
	visibility: hidden;
	opacity: 0;
}

@keyframes movescrollTop {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* item */
@keyframes enter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.item {
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	animation-duration: 0.8s;
	animation-name: enter;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;

	& h3 {
		font-size: var(--h3-font-size);
		margin: 0 0 4px 4px;
		padding-bottom: 2rem;
		max-width: 26ch;
	}

	.type {
		font-size: var(--small-font-size);
		font-weight: bold;
		margin: 8px 4px 2px;
	}

	span {
		border-radius: 5px;
		overflow: hidden;
	}

	.img {
		width: 100%;
		max-width: 320px;
		aspect-ratio: 16/9;
		border-radius: 20px;
		filter: contrast(101%) saturate(105%);
		overflow: hidden;
	}

	.does {
		position: absolute;
		color: #fff;
		background: var(--first-color);
		padding: 0.3rem 0.8rem;
		top: 1.5rem;
		left: 1.5rem;
		border-radius: 20px;
		border: 2px solid rgba(255, 255, 255, 0.8);
		line-height: 1.2;
		font-size: var(--smaller-font-size);
		font-weight: 500;
	}

	.desc {
		position: absolute;
		font-size: var(--small-font-size);
		padding: 4px;
		bottom: 0;
	}

	.price {
		position: absolute;
		text-align: right;
		color: var(--first-color);
		font-size: var(--biggest-font-size);
		font-weight: 900;
		letter-spacing: -0.05em;
		bottom: 0.2rem;
		right: 1.5rem;

		& span {
			color: rgb(121, 121, 121);
			font-size: var(--smaller-font-size);
			font-weight: bold;
		}
	}
}

@media screen and (max-width: 1920px) {
	.flex {
		justify-content: center;
	}
}

@media screen and (max-width: 768px) {
	.topSelect {
		flex-direction: column;
		margin: 0 !important;
	}
	.flex {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.top {
		padding: 1rem !important;
		width: 100%;
	}

	.storeHoliday {
		padding: 0.5rem 1rem;
	}

	.item {
		width: 50%;
		flex: 1 1 auto;
		.type {
			transform-origin: left top;
			transform: scale(0.8);
		}
		span {
			flex: 1 1 auto;
		}
		.img {
			border-radius: 10px;
		}
		.does {
			top: 1rem;
			left: 0.5rem;
			transform: scale(0.8);
		}
		.desc {
			transform-origin: left center;
			transform: scale(0.5);
		}
		.price {
			right: 1rem;
		}
	}

	.foot {
		font-size: var(--small-font-size);
		gap: 0.5rem;
		margin: 3rem auto 4rem;
		padding: 1rem;
		line-height: 1.5;
		flex-direction: column;

		.foot_logo {
			width: 3rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.top {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		.logo {
			width: 3.5rem;
			margin: 0;
		}
	}
	.storeHoliday {
		text-align: center;
		margin-top: 1rem;
		font-size: 0.7rem;
		/* background: none;
		color: #d84f4f; */
	}
	.topSelect {
		margin-top: unset !important;
		flex-direction: column;
		width: 100%;
		.view-all {
			margin-top: 0.5rem;
		}
		& select {
			width: 100%;
		}
	}
	.foot {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
	.scroll-top {
		right: 10px;
		padding: 0.3rem;
	}
}

@media screen and (min-width: 2561px) {
	.top {
		width: 90%;
	}
	.main {
		max-width: 90%;
		margin: 0 auto;
	}
	.flex {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(9vw, 1fr));
	}
}
